---
/**
 * English Home Page
 * Story 1.4 - Integrated content display with all components
 */

import Base from '../../layouts/Base.astro';
import Header from '../../components/Header.astro';
import Section from '../../components/Section.astro';
import LinksList from '../../components/LinksList.astro';
import SkillsList from '../../components/SkillsList.astro';
import ExperienceList from '../../components/ExperienceList.astro';
import ProjectsList from '../../components/ProjectsList.astro';

import content from '../../content/en';
---

<Base>
  <Header currentLocale={Astro.currentLocale} />

  <main id="main">
    <Section id="links" heading="Links">
      <LinksList links={content.links} />
    </Section>

    <Section id="skills" heading="Skills">
      <SkillsList skills={content.skills} />
    </Section>

    <Section id="experience" heading="Experience">
      <ExperienceList experience={content.experience} />
    </Section>

    <Section id="projects" heading="Projects">
      <ProjectsList projects={content.projects} />
    </Section>

    <Section id="cv" heading="CV">
      <p>CV download coming soon</p>
    </Section>
  </main>
</Base>
